body {
  margin: 0 !important;
}

.container {
  padding-top: 10px;
}

.select-lang {
  min-width: 150px;
  position: relative;
  margin-left: auto;
  display: block;
  margin-right: 10px;
}

.select-lang {
  -webkit-appearance: none;
  font-size: 1rem;
  padding: 5px 10px;
  background-color: #1e1e1e;
  border: 1px dashed #d4d4d4;
  border-width: 1.5px;
  border-image-source: linear-gradient(
    130deg,
    #ff7a18,
    #af002d 41.07%,
    #319197 76.05%
  );
  border-style: solid;
  border-image-slice: 1;
  border-radius: 4px;
  color: #d4d4d4;
  cursor: pointer;
  outline: none;
}

.select-lang::before,
.select-lang::after {
  --size: 0.3rem;
  content: '';
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.select-lang::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.select-lang::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}
